@charset "UTF-8";
/* CSS Document */

.container {
    max-width: 70%;
}

header {
    margin-bottom: 20px;
    position: fixed;
    background-color: #ffffff;
    margin: inherit auto;
    z-index: 2;
    top: 0;
}

.nav-bar, .nav-top {
margin-top: 20px;
}

.nav-bar {
    margin-bottom: 20px;
}

a {
    color: black;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding: 0;
}

#nav a {
    font-size: 16pt;
}

.card {
    margin: 5%;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.footnote {
    text-align: center;
}

footer {
    background-color: #fff;
    padding-top: 20px;
}

.subscribe-sec {
    background-color: #ec6421;
    padding: 20px;
    color: white;
}

li {
    list-style: none;
}